/*Delivery company login features*/
#comp_cont{
	display:none;
}

/*Pickups*/

.pickup{
	background-image: url("images/pickup.jpg");
	background-color:green;
	padding :8px;
	color:white;
	border: 5px solid black ;
}

.deliver{
	background-image: url("images/deliver.jpg");
	opacity:0.8;
	background-color:green;
	padding :8px;
	color:white;
	border: 5px solid black ;
}

.product{
	background-image: url("images/product.jpg");
	opacity:0.8;
	background-color:green;
	padding :8px;
	color:white;
	border: 5px solid black ;
}

/* Pickup grid */
.pickups{
	padding-top:1em;
	padding-left:4em;
	padding-right:4em;
	display:grid;
	grid-gap:1em;
	grid-template-columns: repeat(auto-fit, minmax(300px, 0.7fr));
	grid-auto-rows: 8em;
}

.delivers{
	padding-top:1em;
	padding-left:4em;
	padding-right:4em;
	display:grid;
	grid-gap:1em;
	grid-template-columns: repeat(auto-fit, minmax(300px, 0.7fr));
	grid-auto-rows: 8em;
}

.products{
	padding-top:1em;
	padding-left:4em;
	padding-right:4em;
	display:grid;
	grid-gap:1em;
	grid-template-columns: repeat(auto-fit, minmax(300px, 0.7fr));
	grid-auto-rows: 8em;
}
