/*To not write the hexcodes repeatedly, declare them in the root element and use them as var(--color_name)*/
/*General style*/
:root{
	--green:#4abdac;
	--yellow:#f7b733;
	--white:#dfdce3;
	/*--yellow: #feca00;
	--lyellow:#f3e7c5;
	--white:#fffaf0;
	--black:#0e3233;
	--green:#3a7879;
	--grey:#f3e7c5;*/
	--nav:'Roboto Condensed, sans-serif';
	--head:'Playfair Display, serif';
	--content:'Nanum Gothic, sans-serif';
}

*{
	margin:0;
	border:0;
	padding:0;
	box-sizing: border-box;
}

body{
	background-color:var(--white);	
	font-family: var(--content);
	font-size:25px;
	overflow-y:scroll;
	overflow-x:hidden;
}

header{
	width:100%;
	padding-bottom:20px;
	top:0;
}

/*Header Footer Template*/

.head{
	width:100%;
	padding:5px;	
	height:3.8em;
	background-color: var(--green);	
	border-bottom: 3px solid var(--green);
	box-sizing:border-box;
	position:fixed;
	font-family: var(--nav)
}

.head a{
	text-decoration:none;
}

.head img{
	width:110px;
	float:left;
}

.head h1{
	padding:10px;
	font-family:times new roman;
	font-size: 50px;
	color:var(--white);
	font-weight: bold;
}

#free{
	font-style: italic;
}

/*Navigation Style*/

.mainnav{
	margin-top:3.8em;
	background-color: var(--yellow);
	opacity:0.8;
	width:100%;
	position:fixed; 
	/*height:3em;*/
	border-bottom:3px solid var(--green);
	z-index:100;
}

.mainnav li{
	border:0.1px solid lightgray;
	border-radius:10px;
	text-transform: uppercase;
	margin-top:0.5em;
	margin-bottom:0.5em;
	margin-left:2em;
	padding:0.35em;
	list-style: none;
	/* float:left;*/
	text-align:center;
	display: inline-block;
}

.mainnav a{
	color:var(--white);
	text-decoration: none;
}

.mainnav a{
	opacity: 1;
	position: relative;
}

.mainnav a::before {
	content: '';
	display: block;
	height: 3px;
	background: black;
	position: absolute;
	bottom:-.45em;
	left: 0;
	right: 0;
	transform: scale(0,1);
	transition: transform ease-in-out 500ms;
}

nav a:hover::before{
	transform: scale(1,1);
}
.container{
	margin-top: 7.2em;
}

.drop{	
	position: absolute;
	background-color: rgba(0,0,0,0.7);
	margin-top: 0.33em; 
	display:none;
}

.dropdown:hover .drop{
	display:block;
}

/*footer */

.foot{	
	margin-top:10em;
	border-top:2px solid #777777;
	box-sizing:border-box;	
	padding-top:20px;
	color:#7c7c7c;
	font-size:18px;
}

.foot img{
	margin-left:20px;
	float:right;
	width:80px;
	height:50px;
}

.foot li{
	float:right;
	padding-left:20px;
	list-style:none;
}

.foot a{
	text-decoration: none;
	color:#7c7c7c;
}

.foot a:hover{
	color:green;
}

/*POSITIONS*/

/*Story*/

#story{
	margin-top:6em;
	display:grid;
	height:1800px;	
	grid-gap:1em;
	grid-template-columns: 1fr 7fr 1fr;
	grid-template-rows: repeat(7 ,2fr);
	grid-auto-rows: repeat(7, 2fr);
	grid-auto-columns: 1fr;
}

#strimg{
	/*grid-column: 2;*/
	grid-row: 1;
}

#strcontent{
	grid-row:2;
}

.content{
	text-align:center;
}

/*What We Do*/

#process img{
	width:70%;
	/*height:585px;*/
}

#whatwedo{
	display: grid;
	grid-template-rows: 1fr 7fr;
	grid-template-columns: 1fr 8fr 1fr;
	grid-gap:1em;
}

#shd{
	grid-column: 2;
	grid-row:1;
}

#process{
	grid-column:2;
	grid-row:2;
}

/*PICKUP*/

/*.pickup img{
	height:130px;
	width:130px;
}*/

.pickup{
	background-image: url("cimages/delivery_boy.jpg");
	background-color:green;
	padding :8px;
	opacity:0.8;
	color:white;
	border: 5px solid black ;
}

.pickup:nth-child(even){
	background-image: url("cimages/delivery_girl.jpg");
}

.pickup:nth-child(odd){
	background-image: url("cimages/delivery_boy.jpg");
}


/* Pickup grid */
.pickups{
	padding-top:1em;
	padding-left:4em;
	padding-right:4em;
	display:grid;
	grid-gap:1em;
	grid-template-columns: repeat(auto-fit, minmax(300px, 0.7fr));
	grid-auto-rows: 8em;
}

#contact{
	padding-top: 10em;
	padding-left:7.5em;
}

.login{
	background-color: orange;
	padding:20px;
	font-size: 20px;
	position:fixed;
	top:45%;
}
.login a{
	text-decoration: none;
	color:white;
	font-style: bold;
}