/*To not write the hexcodes repeatedly, declare them in the root element and use them as var(--color_name)*/
/*General style*/
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
:root{
    /*Header: #215732
    Content Header: #6a6a6a
    NavBar Background on Hover: #1e88e5
    Link Color on Hover: #215732
    Background: #f6fff4*/

    /*Backgroun Colors*/
    --header:#215732;
    /*This has been used for anything that is written on the page, including the forms*/
    --detail:#6a6a6a;
    --navbar:#1e88e5;
    --link:#215732;
    --bg: #f6fff4;
    /*Used in the transformation in the link*/
    --highlight:#f8b195;
    /*Header text*/
    --htext: #f8b195;
    /*Color of text elements and border of the navbar*/
    --bnav:#f8b195;
    --nvtext:#f6fff4;
    /*footer text and border*/
    --footer:#6a6a6a;
    /*The color of all the subheadings and headings on all the pages*/
    --headings:#6a6a6a;

    --nav:'Roboto Condensed';
    --head:'Palatino Linotype';
    --content:'Garamond';
}

*{
    margin:0;
    border:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color:var(--bg); 
    font-size:25px;
    overflow-y:scroll;
    overflow-x:hidden;
}

header{
    width:100%;
    padding-bottom:20px;
    top:0;
}

header a{
    text-decoration: none;
}
/*Header Footer Template*/
#head{
    width:100%;
    padding:5px;
    padding-bottom: 0px;
    background-color: #efffc6;  
    box-sizing:border-box;
}

#head img{
    width:105px;
    float:left;
}

#head h1{
    padding:10px;
    font-family:times new roman;
    font-size: 50px;
    color:#545454;
    font-weight: bold;
}

#free{
    font-style: italic;
}

/*Navigation Style*/

.toggle{
    background:#efffc6;
    z-index: 1000;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 0px; 
    display:none;
}

#mainnav{
    background-color: #efffc6;
    width:100%;
    z-index:100;
    float:left;
    font-weight: bold;
    padding-top:10px;
    padding-bottom:3px;
}

#mainnav > ul{
    margin-left:5%;
}

#mainnav > ul > li{
    font-family:var(--nav);
    display: inline-block;
    float:left;
    font-size : 20px; 
    text-transform: uppercase;
    padding:0.42% 4%;
    list-style: none;
    box-sizing: border-box;
}

#mainnav ul li:hover{
    background-color: yellow;
}

#dropdown{
    position:absolute;
    top:16.8%;  
    overflow: hidden;
    background-color: #efffc6;
    width:16.5%;
    float:left;
    font-size: 15px;
    font-weight: bold;
    max-height: 0px;
    transition : max-height 700ms ease-in-out ;
}

.drop{
    padding: 3% 5%;
}

.drop ul li{
    font-size:20px;
    font-family:var(--nav);
    list-style: none;
    padding:10px;
}


#mainnav a:hover{
    cursor:none;
}

#mainnav a{
    color:var(--pink);
    text-decoration: none;
    opacity: 1;
    position: relative;
}

/*mainnav scroll*/
.sticky {
    border-bottom: 1px solid green;
    position: fixed;
    top: 0;
    width: 100%;
}

/*Mainnav transformation(line below)*/
#mainnav a::before {
    content: '';
    display: block;
    height: 3px;
    background: black;
    position: absolute;
    bottom:-.25em;
    left: 0;
    right: 0;
    transform: scale(0,1);
    transition: transform ease-in-out 600ms;
}

#mainnav a:hover::before{
    transform: scale(1,1);
}

#img1{
    cursor: pointer;
}
@media (max-width: 1530px){
    .toggle
    {   
        display: block
    }
    #mainnav{
        display: none;
        width:250px;
        margin-top:2px;
        height: 1024px; 
        border-right: 1px solid green;
    }
    #mainnav > ul 
    {   
        padding-top:10px;
    }
    #mainnav > ul > li{
        padding: 12px;
        float:none;
        display: block;
        text-align: left;
    }

    #dropdown{
        margin-left:280px;
        width:200px;
    }
}

#section{
    font-family: var(--head);
    display: grid;
    grid-template-columns: auto auto;
    padding: 50px 50px;
}

#contact h2{
    text-decoration: underline;
    font-family: var(--head);
}

#section p{
    font-family: var(--content);
    line-height: 1.5em;
    padding-left: 80px;
}

.imgb img{
    text-align: center;
    padding: 50px 0px;
}

.c1{
    padding: 50px 0px;
}

.c2{
    padding: 50px 0px;
}

/*Contact*/
#contact{
    text-align: center;
    background-color: lightgrey;
    padding-left: 5px;
    padding-top: 20px;
    width:100%;
    border-top: 1px solid black;
}

#contactdet1{
    padding:20px;
    display: inline-block;
    width:33%;
    float: left;
    box-sizing: border-box;
}

#contactdet2{
    padding:20px;
    display: inline-block;
    width:33%;
    float:center;
    box-sizing: border-box;
}

#contactdet3{
    padding:20px;
    display: inline-block;
    width:33%;
    float:right;
    box-sizing: border-box;
}
/*footer */

.foot{  
    /*margin-top:10em;*/
    border-top:2px solid var(--footer);
    box-sizing:border-box;  
    color:var(--footer);
    font-size:18px;
}

.foot img{
    padding:6px 2px;
    margin-left:20px;
    float:right;
    width:80px;
    height:60px;
}

.foot li{
    padding-top:20px;
    float:right;
    padding-left:20px;
    list-style:none;
}

.foot a{
    text-decoration: none;
    color:#7c7c7c;
}

.foot a:hover{
    color:var(--link);
}


/*Page - WhatWeDo*/
#process img{
    width:80%;
    margin-left:10%;

/*POSITIONS*/

/*Story*/

/*#story{
    margin-top:6em;
    display:grid;
    height:1800px;  
    grid-gap:1em;
    grid-template-columns: 1fr 7fr 1fr;
    grid-template-rows: repeat(7 ,2fr);
    grid-auto-rows: repeat(7, 2fr);
    grid-auto-columns: 1fr;
}

#strimg{
    /*grid-column: 2;*/
    /*grid-row: 1;*/
}

/*#strcontent{
    grid-row:2;
}

.content{
    text-align:center;
}*/

/*What We Do*/



/*#whatwedo{
    display: grid;
    grid-template-rows: 1fr 7fr;
    grid-template-columns: 1fr 8fr 1fr;
    grid-gap:1em;
}

#shd{
    grid-column: 2;
    grid-row:1;
}

#process{
    grid-column:2;
    grid-row:2;
}
*/
/*Container for all pages*/
.outer{
    .margin-top:2em;
}

.hd{
    font-size:36px;
    color:var(--headings);
}

/*Our Story*/
.story img{
    width:100%;
}

/*PICKUP*/

/*.pickup img{
    height:130px;
    width:130px;
}*/

.pickup{
    background-image: url("cimages/delivery_boy.jpg");
    background-color:green;
    padding :8px;
    opacity:0.8;
    color:white;
    border: 5px solid black ;
}

.pickup:nth-child(even){
    background-image: url("cimages/delivery_girl.jpg");
}

.pickup:nth-child(odd){
    background-image: url("cimages/delivery_boy.jpg");
}


/* Pickup grid */
.pickups{
    padding-top:1em;
    padding-left:4em;
    padding-right:4em;
    display:grid;
    grid-gap:1em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 0.7fr));
    grid-auto-rows: 8em;
}

._12 {
    font-size: 1.2em;
}
._14 {
    font-size: 1.4em;
}
ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
    margin: auto;
    float: right; 
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;

}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:8px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:8px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-rss {
    padding:8px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-rss:hover {
    background-color: #eb8231;
}
.fa-youtube {
    padding:8px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;

}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-linkedin {
    padding:8px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-google-plus {
    padding:8px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-google-plus:hover {
    background-color: #e25714;
}

/*market*/

.column img{
  box-sizing: border-box;
  width: 200px;
  height: 300px;
  padding:10px;
}

.column {

    box-sizing: border-box;
    float: left;
    width: 33.33%;
    padding: 5px;
}

.column a{

    text-decoration: none;
}
/* Clearfix (clear floats) */
.row::after {
    padding-bottom: 50px;
    box-sizing: border-box;
    content: "";
    clear: both;
    display: table;
}
.centeralign{
    box-sizing: border-box;
  text-align: center;
}
.column h3{
    box-sizing: border-box;
  text-align: center;
  font-size: 30px;
}

/*Form Modal Deeksha Final*/
/*Form CSS*/
/* Full-width input fields */

input[type=text], input[type=password] {
    width: 90%;
    padding: 11px;
    margin: 5px;
    display: inline-block;
    border: 1px solid #d4d4d4;
    /*background: #f1f1f1;*/
    font-family: 'Helvetica', serif;
    font-size: 20px;
    color:var(--detail);
}

 .select_join{
    width: 90%;
    margin-left:3px;
    padding: 11px;
    margin:7px;
    display: inline-block;
    border: none;
    font-size:20px;
    border: 1px solid #d4d4d4;
    font-family: 'Helvetica', serif;
    color:var(--detail);

 }

 .select_join option{
    padding:2px;
    font-family: 'Helvetica', serif;
    font-size:20px;
    color:#898585;

 }

 .label_join{
    width: 90%;
    padding: 13px;
    margin: 5px;
    display: inline-block;
    border: none;
    font-family: 'Helvetica', serif;
 }
 
.checkbox1{
    display: inline;
    border: none;
    background: #f1f1f1;
    font-family: 'Helvetica', sans-serif;      
 }
#check{
     font-size: 20px;
}
/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
}

/* Set a style for the submit button */
.sub {
    background-color: var(--header);
    color: white;
    padding: 16px 20px;
    margin: 8px 0px;
    cursor: pointer;
    width: 92%;
    opacity: 0.9;
    font-size:20px;
}

button:hover{
    opacity: 1; 
}

form span{
    color: black;
    opacity: 0.9;
    font-size: 20px;
    /*text-align: center ;*/
}

fieldset{
    padding:0.7em;
    padding-left:1em;
    border:1px solid var(--detail);
    border-right: none;
    border-bottom: none;
    border-left: none;
}

fieldset legend{
    color:var(--detail);
    text-align: center;
    font-size: 20px;
    padding:0px 12px;
}

header h2{
    color:var(--detail);
    padding-left:45%;
}

header h2 a{
    text-decoration: none;    
    color:var(--detail);
    font-size:25px;
}
/*Login button*/
.login{
    background-color: yellow;
    margin-top:15px;
    box-shadow: 4px;
    padding:15px;
    font-size: 18px;
    position:fixed;
    top:0%;
    right:2%;
    cursor: pointer;
}
.login a{
    text-decoration: none;
    color:white;
    font-style: bold;
}

.login:hover{
    background-color:pink;
}

/*Form JavaScript CSS*/
/*Close Button*/
.close{
    color:gray;
    float:left;
    font-size:40px;
    font-weight: bold;
}

.close:hover , .close:focus{
    color:black;
    text-decoration: none;
    cursor: pointer;
}

/*Background Window when modal pops up*/
.container1{
    display:none;
    z-index:1;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
}

.container2{
    display:none;
    z-index:1;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
}

.login{
    padding:15px 25px;
    font-size:20px;
    border-radius: 6px;
}

.register{
    margin-left:30%;
    width:40%;
    height:98%;
    margin-top: 1%;
/*    border-radius: 5px;
*/  background-color:var(--bg);
    padding:20px;
    opacity:1;
}

#adjust_login{
    height:50%;
    margin-top:10%;
}

#adjust_login h2{
    margin-left:0.1%;
}

/*For displaying the errors*/
.error{
    margin-left: 2%;
    color:#b71c1c;
    font-size:20px;
}

/*Trial CSS for forms using 2 different buttons*/
#login_btn{
    margin-right:10%;
}

.container2{
    display:none;
}

/*Iframes - API */
iframe {
margin-top: 20px;
margin-bottom: 30px;
width: 50%;
margin-left: auto;
margin-right: auto;  
-moz-border-radius: 12px;
-webkit-border-radius: 12px;
border-radius: 12px;
-moz-box-shadow: 4px 4px 14px #000;
-webkit-box-shadow: 4px 4px 14px #000;
box-shadow: 4px 4px 14px #000;
filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=.2);
padding: 20px 10px;
display: block;
} 
h1{
    text-align: center;
    color: black;
    font-family:'Helvetica', serif;;
    font-weight: bold;

}
h3{
    text-align: left;
    color: black;
    font-family:'Helvetica', serif;;
    font-weight: bold;
    font-size: 30px;
    padding-left: 15px; 

}
h4{
    text-align:left;
    margin:auto;
    color: black;
    font-family:'Helvetica', serif;;
    font-weight: bold;
    font-size: 30px;    
    padding-left: 15px;

}
.reliance a:link{
    background-color: cyan;
    padding: 14px 25px ;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    width: 20%;
    font-size: 20px;
    margin:10px; 

}


.bhan a:link{
    background-color: cyan;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    width: 20%;
    font-size: 20px;
    margin:10px;
}
a:link {
    background-color: lightgreen;
}

a:hover {
    background-color: cyan;
}

a:visited :{
    background-color: lightgreen;
}

/*Block that appears when user logs in*/
.logBlock{
    position:absolute;
    /*background-color: pink;*/
    right:0%;
    padding:5% 1% 5% 5%;
    width:18%;
    height:20%;
    text-align:right;
    font-size:30px;
    text-decoration:underline;
}

/*User buttons on user profile pages*/
.userbttn{
    position:absolute;
    top:20%;
    padding:5%;
    background-color:pink;
    opacity:0.8;
    font-size:30px;
    cursor:pointer;
}

/*Donor login page features*/
#dbt1{
    right:80%;
}

#dbt2{
    right:50%;
}

#dbt3{
    right:20%;
}

#reqpick{
    display:none;
}
